@import "tailwindcss";

@theme {
    --color-base-white: #FFFFFF;
    --color-mute-color: #F9FAFB;
    --color-bg-mute-color: #f3f4f6;
    --color-border-color: #E5E7EB;
    --color-primary-text: #0A56BB;
    --color-neutral-text: #111927;
    --color-netural-text-weak: #6C737F;
    --color-neutral-bg-active: #D2D6DB;
    --color-success-bg-strong: #039855;
    --color-system-black: #000000;
    --color-primary-bg-strong: #0A56BB;
    --color-primary-bg-active: #BFDBFE;
    --color-system-red: #FF382B;
}

@font-face {
    font-family: 'Pyidaungsu';
    src: url('../fonts/Pyidaungsu-2.5.3_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pyidaungsu';
    src: url('../fonts/Pyidaungsu-2.5.3_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Pyidaungsu';
}